<div class="container my-5">
  <h1>Welcome to our Movie Website!</h1>
  <p>Here are some of our featured movies:</p>
  <div class="row">
    <% if @movies.any? %>
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="<%= image_url(movie) %>" alt="Movie poster" width="300" height="450">
            <div class="card-body">
              <h5 class="card-title"><%= movie["title"]%></h5>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Release year: <%= movie['year']%></small>
                <%= form_tag mark_as_favorite_path, method: :post do %>
                  <%= hidden_field_tag :title, movie["title"] %>
                  <%= hidden_field_tag :released_year, movie["year"] %>
                  <%= hidden_field_tag :reference_id, get_reference_id(movie) %>
                  <%= hidden_field_tag :image_url, image_url(movie) %>
                  <%= submit_tag "Mark it favorite", class: "btn btn-sm btn-outline-secondary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%else%>
      <p>Sorry, Couldnt find any result for your query.</p>
    <%end%>
  </div>
</div>
